

apptainer {
    enabled = true
    autoMounts = true
    runOptions = '--bind /scratch:/scratch --bind /shared:/shared'
    cacheDir = '/scratch/SCWF00079/shared/navneet/pipeline/singularity_cache'
}

report {
    enabled = true
    file = 'report_exomeseq.html'
    overwrite = true
}

timeline {
    enabled = true
    file = 'timeline_exomeseq.html'
    overwrite = true
}

trace {
    enabled = true
    file = 'trace_exomeseq.txt'
    overwrite = true
}

process {
    executor = 'slurm'
    cpus = 2
    memory = '8 GB'
    time = '2h'         

    withName: 'refGeneMapping' {
        cpus = 16
        memory = '64GB'
        time = '6h'
    }

    withName: 'fastqTrim' {
        cpus = 8
        memory = '16GB'
        time = '2h'
    }

    withName: 'callVariants' {
        cpus = 4
        memory = '32 GB'
        time = '2h'
    }

    withName: 'markDuplicates|createRecalModel|recalBam' {
        cpus = 4
        memory = '16 GB'
        time = '4h'
    }
}
